@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	background-color: rgb(108, 141, 172);
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 2px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", sans-serif;
  letter-spacing: 2px;
  margin: 25px 0;
}

.font {
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bolder;
}


.navbar {
	background-color: blue;
}

 .print-list {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px 10px;
}


.criminal-card, .officer-card, .note-card, .facilities-card {
	display: grid;
	border: 1px dotted grey;
	width: 275px;
	height: auto;
	padding: 5px 15px;
	margin: 5px;
	background-color:rgb(197, 197, 193);
}




.dark-background{
	background-color: black;
	color: rgb(197, 197, 193)
  }

  .navbar {
	  margin-bottom: 15px;
	  display: flex;
  }
  
  .form-inline {
	
	display:flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	margin-left: 650px;
	padding: 10px;	
	
	
  }
 .form-control {
	 padding:auto;
 }

 .note-form-container {
	display: flex;
	justify-content: center; 
 }
 
 form {
	 border: 1px solid black;
	 padding: 10px 100px;
	 background-color: rgb(197, 197, 193);
 }

 .flex-container {
	 display: grid;
	 grid-template-columns: repeat(3,1fr);
	 grid-gap: 50px 100px;
	
 }

 .notes {
	 display: grid;
	 justify-content: space-evenly;

 }

 #note-date, #note-text, #note-suspect, #saveNote, .criminalSelect, #officerSelect, #crimeSelect {
	 background-color: white;
 }