@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

body {
	justify-content: center;
}

.navbar {
	background-color: blue;
}

 .criminal-list {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(3,1fr)


}

.criminal-card {
	display: grid;
	border: 1px dotted grey;
	width: 250px;
	height: auto;
	padding: 5px;
	margin: 5px;
}

.officer-list {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(3,1fr);


}

.officer-card {
	display: grid;
	border: 1px dotted grey;
	width: 250px;
	height: auto;
	padding: 5px;
	margin: 5px;
}

.facilities-list {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(3,1fr);


}

.facilities-card {
	display: grid;
	border: 1px dotted grey;
	width: 250px;
	height: auto;
	padding: 5px;
	margin: 5px;
}

.dark-background{
	background-color: #2b362e;
	color: #fafcfb;
  }

  .navbar {
	  margin-bottom: 15px;
	  display: flex;
  }
  
  .form-inline {
	
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 50%;
	padding: 10px;
	
	   
  }

